h1 {
    font-size: 3rem !important;
    font-weight: bold !important;
    color: #333 !important;
    text-align: center !important;
}

.order-button:hover {
    background-color: #343a40 !important;
}